.character-filter {
}

.character-filter__container {
    background-color: var(--component-bg-primary);
}

.character-filter__content {
    display: flex;
    align-items: center;
    padding: 20px 0;
    gap: 0px 40px;

    @media (max-width: 1400px) {
        flex-wrap: wrap;
        gap: 20px 40px;
    }
}

.character-filter__item {

    @media (max-width: 1400px) {
        flex: 1 1 calc(50% - 40px);
    }

    @media (max-width: 768px) {
        flex: 1 1 auto;
    }
}

.character-filter__btn {
    @media (max-width: 1400px) {
        margin-left: auto;
    }
}
