.searcher-input {
    width: 100%;
    position: relative;
    z-index: 10;
}

.searcher-input:first-of-type {
    z-index: 20;
}

.searcher-input__title {
    display: block;
    margin-bottom: 5px;
}

.searcher-input__input-wrapper {
    position: relative;
}

.searcher-input__input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: var(--text-primary);
    background-color: var(--component-bg-secondary);

    @media (max-width: 768px) {
        font-size: 16px;
    }

}

.searcher-input__reset-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 5px;
}

.searcher-input__found-list {
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 20;
}

.searcher-input__select-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
    text-align: left;
    background-color: var(--btn-bg-primary);
    border-bottom: 1px solid var(--color-primary);

    & .btn-text {
        color: var(--text-color-primary);
        margin-right: 5px;
    }

    & .btn-icon {
        width: 14px;
        height: 14px;
        color: var(--text-color-primary);
    }

    &:focus {
        background-color: var(--btn-bg-extra);
        border-bottom: 1px solid var(--color-extra);

        & .btn-text {
            color: var(--text-color-extra);
        }

        & .btn-icon {
            color: var(--text-color-extra);
        }
    }

    &:active {
        background-color: var(--btn-bg-extra);
        border-bottom: 1px solid var(--color-extra);

        & .btn-text {
            color: var(--text-secondary-hover);
        }

        & .btn-icon {
            color: var(--fill-secondary-hover);
        }
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--btn-bg-extra);
            border-bottom: 1px solid var(--color-extra);

            & .btn-text {
                color: var(--text-secondary-hover);
            }

            & .btn-icon {
                color: var(--fill-secondary-hover);
            }
        }
    }
}

.searcher-input__not-found {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
    text-align: left;
    background-color: var(--btn-bg-primary);
    border-bottom: 1px solid var(--color-primary);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-color-primary);
}
