.page-pagination {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.page-pagination > :not(:last-child) {
    margin-right: 10px;

    @media (max-width: 768px) {
        margin-right: 8px;
    }
}

.page-pagination__btn {
    flex: 0 0 48px;
    height: 48px;
    transition: background-color 0s linear;
    border: 1px solid transparent;

    &.selected {
        border: 1px solid black;
        transition: background-color 0s linear;
    }

    @media (max-width: 768px) {
        flex: 0 0 32px;
        height: 32px;
        padding: 5px;
    }

    @media (max-width: 475px) {
        flex: 0 0 20px;
        height: 20px;

        &:first-child {
            padding: 0;
        }
    
        &:last-child {
            padding: 0;
        }
    
    }

  

    & .btn-icon {
        width: 100%;
        height: 100%;
    }
}
