.page-pagination {
    display: flex;
    align-items: stretch;
    justify-content: center;

    @media (max-width: 475px) {
        justify-content: space-between;
    }
  
}

.page-pagination > :not(:last-child) {
    margin-right: 10px;

    @media (max-width: 768px) {
        margin-right: 8px;
    }
}

.page-pagination__btn {
    flex: 0 0 48px;
    height: 48px;
    transition: background-color 0s linear;
    border: 1px solid transparent;

    &.selected {
        border: 1px solid black;
        transition: background-color 0s linear;

        @media (max-width: 475px) {
            border: none;
            border-bottom: 1px solid black;
        }
    }

    @media (max-width: 768px) {
        flex: 0 0 32px;
        height: 32px;
        padding: 5px;
    }

    @media (max-width: 475px) {
        flex: 0 0 auto;
        height: auto;
        padding: 0;
        background-color: transparent;

        &:focus {
            background-color: transparent;

            & .btn-text {
                color: var(--text-color-primary);
            }

            & .btn-icon {
                color: var(--text-color-primary);
            }

            &.inactive {
                background-color: var(--btn-bg-primary);
          
                & .btn-icon {
                    color: var(--text-color-primary);
                }
            }
        }

        &:active {
            background-color: transparent;

            & .btn-text {
                color: var(--text-color-primary);
            }

            & .btn-icon {
                color: var(--text-color-primary);
            }

            &.inactive {
                background-color: var(--btn-bg-primary);

                & .btn-icon {
                    color: var(--text-color-primary);
                }
            }
        }

        @media (hover: hover) {
            &:hover {
                background-color: transparent;

                & .btn-text {
                    color: var(--text-color-primary);
                }

                & .btn-icon {
                    color: var(--text-color-primary);
                }

                &.inactive {
                    background-color: transparent;
                   
                    & .btn-icon {
                        color: var(--text-color-primary);
                    }
                }
            }
        }
    }

    & .btn-icon {
        width: 100%;
        height: 100%;
    }
}
