:root {
    // Fonts //
    --fontMain: 'Source Sans Pro', sans-serif;

    --body-bg-primary: #fff874;
    --component-bg-primary: #97ce4c;
    --component-bg-secondary: #fff874;
    --btn-bg-primary: #bee5fd;
    --btn-bg-extra: #01b4c6;

    --text-color-primary: #000000;
    --text-color-extra: #ffffff;

    --color-primary: #000000;
    --color-extra: #ffffff;
}
